<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Gallery" connectionString="mongodb://localhost/yfann"/>
  </connectionStrings>
  <appSettings>
    <add key="ThumbnailWidth" value="150"/>
    <add key="ThumbnailHeight" value="150"/>
  </appSettings>
</configuration>